In [2]:
import geopandas as gpd

In [4]:

dams = gpd.read_file('/home/louispotok/Downloads/GRanD_Version_1_3/GRanD_dams_v1_3.shp')

In [5]:
dams.shape

(7320, 59)

In [6]:
dams.head()

,GRAND_ID,RES_NAME,DAM_NAME,ALT_NAME,RIVER,ALT_RIVER,MAIN_BASIN,SUB_BASIN,NEAR_CITY,ALT_CITY,...,MULTI_DAMS,TIMELINE,COMMENTS,URL,QUALITY,EDITOR,LONG_DD,LAT_DD,POLY_SRC,geometry
0,1,None,Terror Lake,None,Terror River,Marmont Bay,None,None,None,None,...,None,None,None,http://www.ferc.gov/industries/hydropower/safe...,3: Fair,UNH,-153.026649,57.651485,NHD,POINT (-153.02665 57.65149)
1,2,None,Mayo,None,Mayo,None,None,None,Whitehorse,None,...,None,None,This dam is on Mayo Lake to control the releas...,http://www.yukon-news.com/opinions/columns/12540/,1: Verified,McGill-BL,-135.367048,63.774184,CanVec,POINT (-135.36705 63.77418)
2,3,None,Blue Lake,None,Sawmill Creek,None,None,None,None,None,...,None,None,None,http://www.ferc.gov/industries/hydropower/safe...,2: Good,UNH,-135.200305,57.062136,NHD,POINT (-135.20030 57.06214)
3,4,None,Green Lake,None,Vodopad River,None,None,None,None,None,...,None,None,None,http://www.ferc.gov/industries/hydropower/safe...,2: Good,UNH,-135.112812,56.986785,NHD,POINT (-135.11281 56.98679)
4,5,Long Lake,Long Lake Dam,Snettisham Dam,Long River,None,None,None,None,None,...,None,None,None,http://www.dnr.state.ak.us/mlw/water/dams/,4: Poor,UNH,-133.728413,58.168750,NHD,POINT (-133.72841 58.16875)

In [10]:
dams.sort_values("CAP_MCM", ascending=False).head()[['DAM_NAME','CAP_MCM']]

               DAM_NAME   CAP_MCM
4491         Owen Falls  204800.0
4055             Kariba  185000.0
5054             Bratsk  169000.0
4477     High Aswan Dam  162000.0
3666  Akosombo Main Dam  148000.0

In [15]:
dams.YEAR.value_counts(dropna=False).sort_indexdex()

-99      366
 0         1
 284       1
 300       2
 386       1
        ...
 2013     34
 2014     19
 2015     22
 2016     24
 2017      3
Name: YEAR, Length: 184, dtype: int64

In [16]:
dams.QUALITY.value_counts()

2: Good          3412
3: Fair          3330
4: Poor           463
5: Unreliable      87
1: Verified        28
Name: QUALITY, dtype: int64

In [17]:
dams = dams[dams.QUALITY.str[:1].astype(int) < 4]

In [18]:
dams.QUALITY.value_counts()

2: Good        3412
3: Fair        3330
1: Verified      28
Name: QUALITY, dtype: int64

In [20]:
dams.YEAR.value_counts(dropna=False).sort_index()

-99      305
 0         1
 284       1
 300       2
 386       1
        ...
 2013     32
 2014     12
 2015     17
 2016     13
 2017      3
Name: YEAR, Length: 180, dtype: int64

In [21]:
dams.REM_YEAR.value_counts()

-99      6762
 2008       2
 2007       1
 1987       1
 2002       1
 2013       1
 2005       1
 2016       1
Name: REM_YEAR, dtype: int64

In [22]:
dams.TIMELINE.value_counts()

Modified              52
Replaced               3
Removed                3
Subsumed               2
Under construction     2
Destroyed              2
Planned                2
Name: TIMELINE, dtype: int64